{% load static %}
<html>
<head>
<title>Blockchain Based Car Rental System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
 function checkEmail(t3) {
	if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(t3)){
		return (true)
	}
	alert("Invalid E-mail Address! Please re-enter.")
	return (false);
}
function validate(){
	var x=document.forms["f1"]["t1"].value;
	var y=document.forms["f1"]["t2"].value;
	var contact=document.forms["f1"]["t3"].value;
	var email=document.forms["f1"]["t4"].value;
	var address=document.forms["f1"]["t5"].value;
	
	if(x == null || x==""){
		window.alert("Car brand name must be enter");
		document.f1.t1.focus();
		return false;
	}
	if(y == null || y==""){
		window.alert("Car No must be enter");
		document.f1.t2.focus();
		return false;
	}
	if(contact==0){
		alert("Please enter Car Details");
		document.f1.t3.focus();
		return false;
	}
	
	if(email==0){
		alert("Please Enter Rent Per Day");
		document.f1.t4.focus();
		return false;
	}

	if(isNaN(email)){
		alert("Rent Per Day  must be numeric");
		document.f1.t4.focus();
		return false;
	}
	
	if(address == null || address==""){
		window.alert("Please upload car image");
		document.f1.t5.focus();
		return false;
	}
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="black">COMMUTERS</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
	  <li><a href="{% url 'BookCars' %}">View & Book Car</a></li>
	  <li><a href="{% url 'ReleasedBookCars' %}">Released Booked Car</a></li>
	  <li><a href="{% url 'ViewHistory' %}">View History</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/image4.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'ReleasedBookCarsAction' %}  OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Released Booked Car Screen</b></h3>
   
	<font size="" color="black"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			{{ data1|safe }}

		 
			<tr><td></td><td><input type="submit" value="Submit">
			</td>
			</table>
			<br/><br/><br/><br/>
				</div>	
					
				</div>
				
	</body>
</html>